.messageListToolbar {
  background-color: var(--surface-ground);
}

.messageListTable {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messageListTable :global(.p-datatable-wrapper) {
  flex: 1;
}