.header {
  background-color: var(--mantine-color-body);
  user-select: none;
  background-color: var(--mantine-color-default-border);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}